/* Pre Header & Footer */
#wpbf-pre-header {
	font-size: $small-fontsize;
	background: #fff;
}

.wpbf-inner-pre-header {
	padding-top: $padding-small;
	padding-bottom: $padding-small;
}

.wpbf-page-footer {
	font-size: $small-fontsize;
	background: $base-color-alt;
}
	
.wpbf-inner-footer {
	padding-top: $padding;
	padding-bottom: $padding;
}

.wpbf-footer-one-column,
.wpbf-pre-header-one-column {
		text-align: center;
}

.wpbf-footer-two-columns,
.wpbf-pre-header-two-columns {
	width: 100%;
	display: table;
	.wpbf-inner-footer-left,
	.wpbf-inner-footer-right,
	.wpbf-inner-pre-header-left,
	.wpbf-inner-pre-header-right {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
	}
	.wpbf-inner-footer-right,
	.wpbf-inner-pre-header-right {
		text-align: right;
	}
}

/* Content */

// Body
body {
	background: #fff;
	}

// Wrapper
.wpbf-page {
	position: relative;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

/* Blog */

// Headlines
.page-title {
	margin-bottom: $margin-medium;
}

// Author Box
.wpbf-author-box {
	background: $base-color-alt;
	margin-bottom: $margin;
	padding: $padding;
	.avatar {
		border-radius: 100%;
		width: 60px;
	}
}

// Article Header
.single .wpbf-post-image {
	margin-bottom: $margin;
}

.wpbf-post-image-wrapper {
	margin-bottom: $margin;
}

.wpbf-post-image-link {
	display: inline-block;
}

// Article Meta
.article-meta {
	font-size: $small-fontsize;
	.article-time {
		text-decoration: underline;
	}
}

// Article Footer
.article-footer {
	clear: both;
}

.footer-tags,
.footer-categories,
.footer-comment-count {
	font-size: $small-fontsize;
}

.wpbf-read-more {
	margin-bottom: $margin;
}

/* Blog Layouts */

// Default Style
.wpbf-post-style-plain {
	margin-bottom: $margin;
	padding-bottom: $padding;
	border-bottom: 1px solid $base-color;
	.article-footer > *:last-child{
		margin-bottom: 0;
	}
}

.wpbf-post-style-plain:last-child {
	padding-bottom: 0 !important;
	border-bottom: none !important;
}

// Boxed Style
.wpbf-post-style-boxed {
	padding: 20px;
	background: $base-color-alt;
	.article-footer >*:last-child {
		margin-bottom: 0;
	}
}

// Stretched Image Default
.wpbf-post-style-boxed.stretched {
	.wpbf-post-image-wrapper {
		margin-left: -20px;
		margin-right: -20px;
	}
	.article-header > .wpbf-post-image-wrapper:first-child {
		margin-top: -20px;
	}
}

/* Comments */
.commentlist {
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
	}
}

#comments-title {
	margin-top: $margin-medium;
	padding-top: $margin-medium;
	border-top: 10px solid $base-color-alt;
}

#reply-title {
	padding-top: $padding-medium;
	margin-top: $margin-medium;
	border-top: 10px solid $base-color-alt;
	display: block;
	small {
		font-size: $tiny-fontsize;
	}
}

.commentlist {
	.children {
		margin-left: $margin;
	}
}

// Comment
.comment {
	position: relative;
	padding: 25px;
	border: 3px solid darken($base-color-alt,8%);
	margin-bottom: $margin;
	.comment-edit-link {
		position: absolute;
		right: 20px;
		top: 20px;
	}
	.comment-meta {
		font-size: $small-fontsize;
		margin-bottom: $margin;
	}
	.avatar {
		width: 65px;
		@include border-radius(100%);
		height: auto;
		margin-right: $margin-small;
		display: inline-block;
	}
	.comment-author-info {
		display: inline-block;
	}
	.comment-author .fn {
		font-style: normal;
		font-weight: $bold;
	}
	.comment-time {
		color: $base-color;
		margin-left: 5px;
		a {
			color: $base-color;
		}
	}
	.comment-time:before {
		font-family: "page-builder-framework";
		content: "\f107";
		margin-right: 3px;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.comment-reply-link {
		display: inline-block;
	}
}

.pingback {
	position: relative;
	padding: 25px;
	border: 3px solid darken($base-color-alt,8%);
	margin-bottom: $margin;
	a {
		display: block;
	}
	.comment-edit-link {
		position: absolute;
		right: 20px;
		top: 20px;
		font-size: $small-fontsize;
	}
}

// By Post Author Modifier
.bypostauthor {
	border-color: $accent-color;
}

// Comment Navigation
.wpbf-comment-nav {
	font-size: $small-fontsize;
	padding: 0;
	.previous {
		float: left;
	}
	.next {
		float: right;
	}
}

/* Gutenberg */

// Full Aligned Items
.wpbf-no-sidebar .alignfull {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	width: auto;
	max-width: unset;
}

.alignwide, .alignfull {
	iframe {
		width: 100%;
	}
}

// Separator
.wp-block-separator {
	width: 280px;
	margin: $margin-medium auto;
	border: none;
	border-top: 1px solid darken($base-color, 5%);
}

// Separator Wide Modifier
.wp-block-separator.is-style-wide {
	width: 100%;
}

// Separator Dots Modifier
.wp-block-separator.is-style-dots:before {
	color: darken( $base-color, 15% );
	font-size: 30px;
}

// Blockquote
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	margin: 					$margin 0 $margin $margin;
	padding: 					0 0 0 $padding;
}

// Pullquote
.wp-block-pullquote {
	blockquote {
		padding: $padding 0 0 0;
		margin: 0;
		border-left: none;
		border-top: 5px solid $base-color;
		border-bottom: 5px solid $base-color;
	}
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	padding: 0;
}

// Audio
.wp-block-audio audio {
	width: 100%;
}

/* Sidebar */
.widget {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
}

.wpbf-sidebar,
.elementor-widget-sidebar {
	.widget {
		margin-bottom: $margin;
		padding: $padding;
		background: $base-color-alt;
	}
}

#s {
	padding-right: 40px;
}

#searchform {
	position: relative;
}

#searchform:before {
	content: "\f118";
	right: 15px;
	@include vertical-align($position: absolute);
	color: $brand-color-alt;
	font-family: 'page-builder-framework' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wpbf-no-sidebar {
	.wpbf-main.wpbf-medium-2-3 {
		width: 100%;
	}
	.wpbf-main-grid {
		margin-left: 0;
		margin-right: 0;
		> * {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

/* ScrollTop */
.scrolltop {
	position: fixed;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	z-index: 222;
	background: rgba($brand-color, .5);
	bottom: 20px;
	right: 20px;
	@include transition(background 0.2s);
	display: none;
	color: #fff !important;
}

.scrolltop:before {
	font-family: "page-builder-framework";
	content: "\f101";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.scrolltop:hover {
	background: rgba($brand-color,.7);
}

/* Contact Form 7 */
span.wpcf7-not-valid-tip {
	position: absolute;
	top: 0;
	left: 5px;
	height: auto;
	background: #fff;
	font-size: $small-fontsize;
	color: tomato;
}

div.wpcf7-response-output {
	font-size: $small-fontsize;
	padding: $padding-small;
	margin: 0;
	@include border-radius(2px);
}


div.wpcf7-spam-blocked, div.wpcf7-validation-errors {
	border-color: tomato;
	color: tomato;

}

div.wpcf7-mail-sent-ok {
	border-color: $accent-color;
	color: $accent-color;
}